 .loading {
  display: none;
}

.senna-loading .loading {
  background-image: url(../img/loading.gif);
  background-position: center 0;
  background-repeat: no-repeat;
  color: #444;
  display: block;
  font-family: Georgia, "Cambria", serif;
  font-style: italic;
  height: 130px;
  padding-top: 70px;
  text-align: center;
}
